<div class="jumbotron text-left ">
    <div class="row">
        <dl class="dl-horizontal">
            <dt>Freestyler:</dt>
            <dd>{{ playerInfo.userName }}</dd>
            <dt>Fecha de nacimiento:</dt>
            <dd>{{ playerInfo.age | date:'yyyy-MM-dd' }}</dd>
            <dt>Año de comienzo:</dt>
            <dd>{{ playerInfo.startingYear }}</dd>
            <dt>Extracto:</dt>
            <dd>{{ playerInfo.summary }}</dd>
            <dt>Número de batallas:</dt>
            <dd>{{ playerInfo.numberOfBattles }}</dd>
            <dt>Victorias:</dt>
            <dd>{{ playerInfo.wins }}</dd>
        </dl>
    </div>
    <span ng-show="ownPlayer">
        <button ng-click="sendVideo()">Subir video</button>
    </span>
    <span ng-hide="ownPlayer">
        <button ng-click="battleChallenge()">Retar a batalla</button>
    </span>
</div>

<uib-tabset active="active">
    <uib-tab index="0" heading="Videos">
        <h3>Videos</h3>
        <div ng-repeat="video in playerInfo.videos">
            <hr/>
            <div class="col-sm-3">
                <div class="well">
                    <p><b>{{ video.title }}</b></p>
                    <p>{{ video.place }}</p>
                    <p>{{ video.sendTime | date:'yyyy-MM-dd' }}</p>
                </div>
            </div>
            <div class="col-sm-9">
                <iframe width="336" height="276"
                    ng-src="{{ video.youtubeUrl }}" >
                </iframe>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="1" heading="Batallas">
        <h3>Batallas</h3>
        <div ng-repeat="battle in playerInfo.battles">
            <hr>
        <div class="row">
            <div class="col-sm-2">
                <div class="well">
                    <p><b>{{ battle.titulo }}</b></p>
                    <p>{{ battle.description }}</p>
                    <p>El reto se hizo el día: {{ battle.battleChallengeTime | date:'yyyy-MM-dd' }}</p>
                </div>
            </div>
            <div class="col-sm-5">
                <p>Retador: <b>{{ battle.userChallenger }}</b></p>
                <p>Votos: <b>{{ battle.votesVideoChallenger }}</b></p>
                <iframe width="336" height="276"
                    ng-src="{{ battle.youtubeUrlChallenger }}" >
                </iframe>
                <span ng-if="!!battle.youtubeUrlChallenged">
                    <p><button ng-click="battleVote(battle.id, battle.userChallenger)">Votar</button></p>
                </span>
            </div>
            <div class="col-sm-5">
                <p>Retado: <b>{{ battle.userChallenged }}</b></p>
                <p>Votos: <b>{{ battle.votesVideoChallenged }}</b></p>
                <span ng-if="!!battle.youtubeUrlChallenged">
                    <iframe width="336" height="276"
                        ng-src="{{ battle.youtubeUrlChallenged }}" >
                    </iframe>
                    <p><button ng-click="battleVote(battle.id, battle.userChallenged)">Votar</button></p>
                </span>
                <span ng-if="!battle.youtubeUrlChallenged && battle.userChallenged === playerLogged">
                    <form class="form-horizontal" role="form">
                        <input type="text" id="challengedVideo{{battle.id}}" placeholder="Código" required />
                        <button type="submit" ng-click="sendChallengedVideo(battle.id)">Contestar batalla</button>
                    </form>
                </span>
                <span ng-if="!battle.youtubeUrlChallenged && battle.userChallenged !== playerLogged">
                    <p>Aún no ha contestado</p>
                </span>
            </div>
        </div>
        </div>
    </uib-tab>
</uib-tabset>
