<div class="jumbotron text-left ">
    <div class="row">
        <dl class="dl-horizontal">
            <dt>Freestyler:</dt>
            <dd>{{ playerInfo.userName }}</dd>
            <dt>Fecha de nacimiento:</dt>
            <dd>{{ playerInfo.age | date:'yyyy-MM-dd' }}</dd>
            <dt>Año de comienzo:</dt>
            <dd>{{ playerInfo.startingYear }}</dd>
            <dt>Extracto:</dt>
            <dd>{{ playerInfo.summary }}</dd>
        </dl>
    </div>
    <span ng-show="ownPlayer">
        <button ng-click="sendVideo()">Subir video</button>
    </span>
</div>

<div class="container text-center">
    <div class="row">
        <div ng-repeat="video in playerInfo.videos">
            <div class="col-sm-3">
                <div class="well">
                    <p><b>{{ video.title }}</b></p>
                    <p>{{ video.place }}</p>
                    <p>{{ video.sendTime | date:'yyyy-MM-dd' }}</p>
                </div>
            </div>
            <div class="col-sm-9">
                <iframe width="336" height="276"
                    ng-src="{{ video.youtubeUrl }}" >
                </iframe>
            </div>
            <hr>
        </div>
    </div>
</div>