<div class="jumbotron text-left ">
    <div class="row">
        <dl class="dl-horizontal">
            <dt>Freestyler:</dt>
            <dd>{{ playerInfo.userName }}</dd>
            <dt>Fecha de nacimiento:</dt>
            <dd>{{ playerInfo.age | date:'yyyy-MM-dd' }}</dd>
            <dt>Año de comienzo:</dt>
            <dd>{{ playerInfo.startingYear }}</dd>
            <dt>Extracto:</dt>
            <dd>{{ playerInfo.summary }}</dd>
        </dl>
    </div>
</div>
<div class="jumbotron text-center">
    <div class="row">
        <p>En acción . . . </p>
    </div>
</div>